* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh 1fr 15vh;
      grid-template-rows: 15vh 1fr 15vh;
  overflow: hidden;
  z-index: 1000000;
}

body header {
  background: #1d5fcf;
  padding: 10px;
  z-index: 1000;
}

body header .container {
  margin: auto;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.6em;
  background: -webkit-linear-gradient(180deg, #dda77b 40%, #a0eade);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

body header .container img:nth-child(1) {
  width: 10%;
}

body header .container img {
  width: 15%;
}

body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80vw 20vw;
      grid-template-columns: 80vw 20vw;
}

body main .bad-form {
  position: absolute;
  top: -30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid black;
  z-index: 100000;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body main .bad-form h2 {
  text-align: center;
  font-size: 3em;
  width: 100%;
  height: 55px;
  background: #1d5fcf;
}

body main .bad-form p {
  padding: 15px 10px;
  font-size: 1.2em;
}

body main .bad-form i {
  font-size: 6em;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main video {
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  z-index: -10;
  opacity: 0.6;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

body main .sec_1 {
  width: 80vw;
  position: relative;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

body main .sec_1 .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 45px;
  position: relative;
  top: 20px;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  opacity: 1;
}

body main .sec_1 .title h2 {
  top: 0;
  font-size: 3em;
}

body main .sec_1 .btn_start {
  position: relative;
  top: 50px;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  opacity: 1;
  /**************SVG****************/
  /* SVG animations */
}

body main .sec_1 .btn_start .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sec_1 .btn_start .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background: #1d5fcf;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 6px 6px 0 black;
          box-shadow: 6px 6px 0 black;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

body main .sec_1 .btn_start .cta:focus {
  outline: none;
}

body main .sec_1 .btn_start .cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #5b5b61;
          box-shadow: 10px 10px 0 #5b5b61;
}

body main .sec_1 .btn_start .cta span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0px;
}

body main .sec_1 .btn_start .cta:hover span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 45px;
}

body main .sec_1 .btn_start span {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  position: relative;
  top: 5px;
}

body main .sec_1 .btn_start span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

body main .sec_1 .btn_start path.one {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

body main .sec_1 .btn_start path.two {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

body main .sec_1 .btn_start .cta:hover path.three {
  -webkit-animation: color_anim 1s infinite 0.2s;
          animation: color_anim 1s infinite 0.2s;
}

body main .sec_1 .btn_start .cta:hover path.one {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.6s;
          animation: color_anim 1s infinite 0.6s;
}

body main .sec_1 .btn_start .cta:hover path.two {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.4s;
          animation: color_anim 1s infinite 0.4s;
}

@-webkit-keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

body main aside {
  height: 100%;
  width: 20vw;
  position: absolute;
  right: 0;
  padding: 10px 15px;
  background: #dde2eb;
  -webkit-transition: 1.6s right;
  transition: 1.6s right;
}

body main aside h2 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  position: relative;
  left: 20px;
}

body main aside img {
  width: 80px;
  position: absolute;
  top: -8px;
  left: 40px;
}

body main aside .news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

body main aside .news-container a {
  margin: 10px 0;
  color: black;
  font-size: 1.2em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main aside .news-container a:hover {
  color: #1d5fcf;
}

body main .sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% + 7.5vh);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -10;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  background: white;
}

body main .sec_2 .next_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 55px;
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .next_btn:hover {
  opacity: 1;
}

body main .sec_2 .next_btn:hover i:nth-child(1) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

body main .sec_2 .next_btn:hover i:nth-child(3) {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

body main .sec_2 .next_btn i {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

body main .sec_2 .back_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 55px;
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .back_btn:hover {
  opacity: 1 !important;
}

body main .sec_2 .back_btn:hover i:nth-child(1) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

body main .sec_2 .back_btn:hover i:nth-child(3) {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

body main .sec_2 .back_btn i {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

body main .sec_2 .container {
  position: relative;
  padding: 20px;
  width: 80%;
  height: 90%;
  background: #1a92f5fd;
  -webkit-box-shadow: 0px 6px 10px 10px rgba(0, 0, 0, 0.87);
          box-shadow: 0px 6px 10px 10px rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

body main .sec_2 .container #form {
  width: 100%;
  height: 100%;
}

body main .sec_2 .container #form #form1 {
  position: relative;
  top: 43%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  height: 100%;
  opacity: 1;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

body main .sec_2 .container #form #form1 .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body main .sec_2 .container #form #form1 .up .right {
  width: 50%;
  padding: 0 20px;
}

body main .sec_2 .container #form #form1 .up .right .item_3 label {
  font-size: 1.25em;
}

body main .sec_2 .container #form #form1 .up .right .item_3 .contact_box {
  float: right;
  width: 98%;
}

body main .sec_2 .container #form #form1 .up .right .item_3 .contact_box .item:nth-child(1) {
  margin-top: 10px;
}

body main .sec_2 .container #form #form1 .up .left {
  width: 50%;
  padding: 0 20px;
}

body main .sec_2 .container #form #form1 .up .left .tmp_box {
  width: 350px;
  margin: 0 auto;
}

body main .sec_2 .container #form #form1 .up .left #item1 {
  margin-top: 10px;
}

body main .sec_2 .container #form #form1 .down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec_2 .container #form #form1 .down .contact_person {
  width: 46%;
  height: 200px;
  position: relative;
  top: 10px;
  opacity: 0;
  background: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

body main .sec_2 .container #form #form1 .down .contact_person::before {
  content: "Contact person in the company:";
  font-size: 1.1em;
  position: absolute;
  top: -25px;
  left: -5px;
}

body main .sec_2 .container #form #form1 .down .contact_person .icon_container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 3px dashed white;
}

body main .sec_2 .container #form #form1 .down .contact_person .icon_container i {
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form1 .down .contact_person .icon_container i:nth-child(1) {
  font-size: 6em;
}

body main .sec_2 .container #form #form1 .down .contact_person .contact_info_container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  cursor: pointer;
  border: 10px double white;
}

body main .sec_2 .container #form #form1 .down .contact_person .contact_info_container .box {
  width: 70%;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec_2 .container #form #form1 .down .contact_person .contact_info_container .box .item {
  margin: 0 auto;
  width: 100%;
}

body main .sec_2 .container #form #form1 .item {
  margin: 30px 0;
  width: 100%;
  min-height: 30px;
  max-height: 50px;
  position: relative;
}

body main .sec_2 .container #form #form1 .item label {
  font-size: 1.25em;
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body main .sec_2 .container #form #form1 .item .std_input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  padding: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 1.1em;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: 0.4s opacity;
  transition: 0.4s opacity;
}

body main .sec_2 .container #form #form1 .item .std_input:focus, body main .sec_2 .container #form #form1 .item .std_input:valid {
  opacity: 1;
}

body main .sec_2 .container #form #form1 .item .std_input:focus + label,
body main .sec_2 .container #form #form1 .item .std_input:valid + label {
  top: -24px;
  left: -12px;
}

body main .sec_2 .container #form #form1 .item .std_input:focus ~ .line,
body main .sec_2 .container #form #form1 .item .std_input:valid ~ .line {
  height: 100%;
  border-radius: 5px;
}

body main .sec_2 .container #form #form1 .item .std_input:invalid {
  color: red;
}

body main .sec_2 .container #form #form1 .item textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  position: absolute;
  top: 3px;
  padding: 4px;
  font-size: 1.1em;
  font-weight: 600;
  z-index: 10;
}

body main .sec_2 .container #form #form1 .item .line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

body main .sec_2 .container #form #form1 #textarea {
  max-height: none;
  height: 90px;
  width: 50%;
  margin-top: 15px;
}

body main .sec_2 .container #form #form1 #textarea textarea:focus + label,
body main .sec_2 .container #form #form1 #textarea textarea:valid + label {
  top: -22px;
  left: -12px;
}

body main .sec_2 .container #form #form1 #textarea textarea:focus ~ .line,
body main .sec_2 .container #form #form1 #textarea textarea:valid ~ .line {
  height: 95%;
  border-radius: 5px;
}

body main .sec_2 .container #form #form1 #textarea label {
  top: 50px;
}

body main .sec_2 .container #form #form1 .item_2 {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

body main .sec_2 .container #form #form1 .item_2 label {
  font-size: 1.25em;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp {
  position: relative;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp input,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp input {
  display: none;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp input:checked ~ span,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp input:checked ~ span {
  background: #247ec7;
  -webkit-box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
          box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
  z-index: 100;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp span,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp span {
  display: block;
  width: 70px;
  height: 30px;
  position: relative;
  background: white;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp span:hover,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp span:hover {
  background: #d8cbcb;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box .choose .box_tmp p,
body main .sec_2 .container #form #form1 .item_2 .choose_box2 .choose .box_tmp p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.8em;
  font-weight: 800;
  pointer-events: none;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form1 .item_2 .choose_box2 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sec_2 .container #form #form2 {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: calc(100% - 40px);
  width: 0;
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

body main .sec_2 .container #form #form2 .left {
  width: 50%;
  height: 100%;
}

body main .sec_2 .container #form #form2 .left .faculties {
  width: 100%;
}

body main .sec_2 .container #form #form2 .left .faculties h2 {
  font-size: 1.1em;
  margin-bottom: 5px;
  font-weight: 400;
}

body main .sec_2 .container #form #form2 .left .faculties .box {
  width: 360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 30px;
  overflow: hidden;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty {
  position: relative;
  width: 50%;
  height: 40px;
  cursor: pointer;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty:nth-child(1) {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty:nth-child(2) {
  border-bottom: 2px solid black;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty:nth-child(3) {
  border-right: 2px solid black;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty label input {
  display: none;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty label input:checked ~ span {
  background: #247ec7;
  z-index: 1000;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty label span {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty label span:hover {
  background: #7f7f83;
}

body main .sec_2 .container #form #form2 .left .faculties .box .faculty p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: 600;
  z-index: 10;
  pointer-events: none;
}

body main .sec_2 .container #form #form2 .left .item {
  margin: 30px 0;
  width: 90%;
  min-height: 30px;
  max-height: 50px;
  position: relative;
}

body main .sec_2 .container #form #form2 .left .item:nth-child(2) {
  margin-top: 25px;
}

body main .sec_2 .container #form #form2 .left .item label {
  font-size: 1.25em;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body main .sec_2 .container #form #form2 .left .item .std_input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  padding: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 1.1em;
  font-weight: 600;
}

body main .sec_2 .container #form #form2 .left .item .std_input:focus + label,
body main .sec_2 .container #form #form2 .left .item .std_input:valid + label {
  top: -24px;
  left: -12px;
}

body main .sec_2 .container #form #form2 .left .item .std_input:focus ~ .line,
body main .sec_2 .container #form #form2 .left .item .std_input:valid ~ .line {
  height: 100%;
  border-radius: 5px;
}

body main .sec_2 .container #form #form2 .left .item .line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

body main .sec_2 .container #form #form2 .left .add_box {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body main .sec_2 .container #form #form2 .left .add_box .date {
  width: 60%;
}

body main .sec_2 .container #form #form2 .left .add_box .date h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
  font-weight: 600;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time label {
  display: block;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time [type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time [type="date"]::-webkit-inner-spin-button {
  display: none;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time label {
  display: block;
}

body main .sec_2 .container #form #form2 .left .add_box .date .time input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  margin-right: 5px;
}

body main .sec_2 .container #form #form2 .left .add_box .duration {
  width: 40%;
  text-align: center;
}

body main .sec_2 .container #form #form2 .left .add_box .duration h2 {
  width: 100%;
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 600;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont {
  margin: 7px auto;
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont::before {
  content: "";
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont:hover {
  width: 120px;
  border: 2px solid white;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont:hover .next {
  opacity: 1;
  right: 20px;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont:hover .prev {
  opacity: 1;
  left: 20px;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont .next {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 17px;
  height: 17px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  display: block;
  width: 17px;
  height: 17px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box .duration .cont span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 24px;
  font-weight: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .sec_2 .container #form #form2 .left .add_box_2 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money {
  width: 60%;
  height: 70px;
  margin-top: 10px;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money h2 {
  font-size: 1.3em;
  height: 35%;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box {
  margin-top: 5px;
  width: 50%;
  height: 55%;
  left: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option {
  width: 50%;
  height: 100%;
  position: relative;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option label input {
  display: none;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option label input:checked ~ span {
  background: #247ec7;
  -webkit-box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
          box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
  z-index: 1000;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option label span {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option label span:hover {
  background: #7f7f83;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .money_box .option p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: 600;
  z-index: 10;
  pointer-events: none;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .if_paid {
  height: 100%;
  width: 35%;
  position: relative;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .if_paid h2 {
  color: black;
  font-size: 0.8em;
  font-weight: 400;
  position: relative;
  top: -10px;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .money .box .if_paid input {
  width: 66%;
  height: 25px;
  border-radius: 30px;
  font-weight: 700;
  padding: 4px;
  outline: none;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees {
  width: 40%;
  text-align: center;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees h2 {
  width: 100%;
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 600;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont {
  margin: 7px auto;
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont::before {
  content: "";
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont:hover {
  width: 120px;
  border: 2px solid white;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont:hover .next {
  opacity: 1;
  right: 20px;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont:hover .prev {
  opacity: 1;
  left: 20px;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont .next {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 17px;
  height: 17px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  display: block;
  width: 17px;
  height: 17px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form2 .left .add_box_2 .trainees .cont span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 24px;
  font-weight: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .sec_2 .container #form #form2 .right {
  position: relative;
  width: 50%;
  height: 100%;
}

body main .sec_2 .container #form #form2 .right .insurance {
  height: 100px;
  border: 5px double black;
}

body main .sec_2 .container #form #form2 .right .insurance h2 {
  height: 40%;
  font-size: 1.3em;
}

body main .sec_2 .container #form #form2 .right .insurance .box {
  margin-top: -5px;
  margin-left: 5px;
  width: 140px;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose {
  width: 50%;
  height: 100%;
  position: relative;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose label input {
  display: none;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose label input:checked ~ span {
  background: #247ec7;
  -webkit-box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
          box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
  z-index: 100;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose label span {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 10;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose label span:hover {
  background: #a9a9b3;
}

body main .sec_2 .container #form #form2 .right .insurance .box .choose p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: 600;
  z-index: 10;
  pointer-events: none;
}

body main .sec_2 .container #form #form2 .right .cv {
  border: 5px double black;
  float: right;
  width: 60%;
  height: 90px;
  margin-top: 15px;
  position: relative;
  top: -50px;
  left: -30px;
  padding: 5px;
  background: #1d5fcf;
}

body main .sec_2 .container #form #form2 .right .cv h2 {
  height: 40%;
  font-size: 1.3em;
  color: white;
}

body main .sec_2 .container #form #form2 .right .cv input {
  padding-left: 5px;
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: 80px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 30px;
  font-weight: 700;
  outline: none;
}

body main .sec_2 .container #form #form2 .right .criteria {
  height: 55%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #ebebeb;
  border: 10px double black;
  border-radius: 30px;
  overflow: hidden;
}

body main .sec_2 .container #form #form2 .right .criteria .title {
  width: 100%;
  height: 17%;
  padding: 5px;
  border-bottom: 6px double black;
  text-align: center;
}

body main .sec_2 .container #form #form2 .right .criteria .title h2 {
  font-size: 1.3em;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria {
  width: 100%;
  height: 83%;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .input_for_add {
  width: 100%;
  height: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .input_for_add .icon_box {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .input_for_add .icon_box i {
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .input_for_add .icon_box i:hover {
  color: #246fad;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .input_for_add input {
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
  height: 100%;
  font-size: 1.25em;
  font-weight: 700;
  outline: none;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .crit_list {
  width: 90%;
  height: 82%;
  float: right;
  margin-top: 10px;
  overflow-x: visible;
  overflow-y: scroll;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .crit_list ol {
  float: right;
  width: 90%;
  list-style: none;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .crit_list ol li {
  margin: 5px 0;
  font-size: 1.4em;
  font-weight: 500;
  border-bottom: 3px solid #525050;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .crit_list ol li i {
  position: relative;
  left: -30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

body main .sec_2 .container #form #form2 .right .criteria .main_criteria .crit_list ol li i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #247ec7;
}

body main .sec_2 .container #form #form3 {
  position: absolute;
  top: -100%;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  background: transparent;
}

body main .sec_2 .container #form #form3 .ufaz_help {
  width: 100%;
  height: 130px;
  margin-top: 10px;
  text-align: center;
}

body main .sec_2 .container #form #form3 .ufaz_help h2 {
  font-size: 1.3em;
  height: 35%;
}

body main .sec_2 .container #form #form3 .ufaz_help .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 200px;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box {
  width: 30%;
  height: 50px;
  top: 10px;
  left: 35%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option {
  width: 50%;
  height: 100%;
  position: relative;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option label input {
  display: none;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option label input:checked ~ span {
  background: #247ec7;
  -webkit-box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
          box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.81);
  z-index: 1000;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option label span {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option label span:hover {
  background: #7f7f83;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .help_box .option p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: 600;
  z-index: 10;
  pointer-events: none;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes {
  width: 60%;
  position: relative;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes .item {
  margin: 30px 0;
  width: 100%;
  min-height: 30px;
  max-height: 50px;
  position: relative;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes .item label {
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes .item textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  position: absolute;
  top: 3px;
  left: 0;
  padding: 4px;
  font-size: 1.1em;
  font-weight: 600;
  z-index: 10;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes .item .line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 {
  max-height: none;
  height: 90px;
  width: 100%;
  margin-top: 15px;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 textarea:focus + label,
body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 textarea:valid + label {
  top: -22px;
  left: -12px;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 textarea:focus ~ .line,
body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 textarea:valid ~ .line {
  height: 95%;
  border-radius: 5px;
}

body main .sec_2 .container #form #form3 .ufaz_help .box .if_help_yes #textarea2 label {
  top: 50px;
}

body main .sec_2 .container #form #form3 .add_comments {
  position: relative;
  top: 20%;
  width: 80%;
  height: 150px;
  margin: 0 auto;
}

body main .sec_2 .container #form #form3 .add_comments .item {
  width: 100%;
  height: 100%;
  min-height: 30px;
  max-height: 150px;
  position: relative;
}

body main .sec_2 .container #form #form3 .add_comments .item label {
  font-size: 1.25em;
  position: absolute;
  top: 100px;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body main .sec_2 .container #form #form3 .add_comments .item textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  position: absolute;
  top: 3px;
  left: 0;
  padding: 4px;
  font-size: 1.1em;
  font-weight: 600;
  z-index: 10;
}

body main .sec_2 .container #form #form3 .add_comments .item .line {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

body main .sec_2 .container #form #form3 .add_comments #textarea3 {
  max-height: none;
  height: 100%;
  width: 100%;
}

body main .sec_2 .container #form #form3 .add_comments #textarea3 textarea:focus + label,
body main .sec_2 .container #form #form3 .add_comments #textarea3 textarea:valid + label {
  top: -22px;
  left: -12px;
}

body main .sec_2 .container #form #form3 .add_comments #textarea3 textarea:focus ~ .line,
body main .sec_2 .container #form #form3 .add_comments #textarea3 textarea:valid ~ .line {
  height: 95%;
  border-radius: 5px;
}

body main .sec_2 .container #form #form4 {
  position: absolute;
  top: -100%;
  left: -100%;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

body main .sec_2 .container #form #form4 h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 100px;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2.4em;
}

body main .sec_2 .container .progress_bar {
  opacity: 1;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

body main .sec_2 .container .progress_bar h3 {
  position: absolute;
  bottom: -3px;
  left: 10px;
  z-index: 10;
}

body main .sec_2 .container .progress_bar .bar,
body main .sec_2 .container .progress_bar progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

body main .sec_2 .container .progress_bar progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #ffffff);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

body footer {
  position: relative;
  top: 0;
  padding: 10px;
  background: #1d5fcf;
  overflow: hidden;
  -webkit-transition: 1.6s top;
  transition: 1.6s top;
}

body footer .contact {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body footer .contact h1 {
  color: #dde2eb;
}

body footer .contact .contact_info {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .contact .contact_info p {
  font-size: 1.1em;
  color: #dde2eb;
}

body footer .contact .contact_info .links {
  width: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 5px;
}

body footer .contact .contact_info .links a {
  color: #dde2eb;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 1.1em;
}

body footer .contact .contact_info .links a:visited {
  color: #dde2eb;
}

body footer .contact .contact_info .links a:hover {
  color: #1ed4ec;
}

body footer .contact .contact_info .links i {
  font-size: 1.7em;
  position: relative;
  top: 3px;
  color: #dde2eb;
}

body footer .contact:hover {
  -webkit-box-shadow: -4px 1px 18px 12px rgba(0, 0, 0, 0.62);
          box-shadow: -4px 1px 18px 12px rgba(0, 0, 0, 0.62);
}

body footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 75px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(167, 170, 175, 0.74);
}

body footer .social::before {
  content: "";
  position: absolute;
  left: -75px;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-bottom: 75px solid rgba(167, 170, 175, 0.74);
}

body footer .social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
}

body footer .social .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: #3498db;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body footer .social .container .btn:hover {
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
}

body footer .social .container .btn i {
  line-height: 90px;
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body footer .social .container .btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

body footer .social .container .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

body footer .social .container .btn:hover::before {
  -webkit-animation: social 0.7s 1;
          animation: social 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes social {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes social {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.preloader {
  background: #1d5fcf;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10000;
}

.preloader svg path {
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  -webkit-animation: appear 4s forwards;
          animation: appear 4s forwards;
}

@-webkit-keyframes appear {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  to {
    stroke-dashoffset: 0;
  }
}

body #form1 .left .item {
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

body #form1 .left .item:nth-child(1) {
  bottom: 45px;
}

body #form1 .left .item:nth-child(2) {
  left: -50px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

body #form1 .left .choose_box .choose {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 0;
  position: relative;
}

body #form1 .left .choose_box .choose:nth-child(1) {
  left: -50px;
}

body #form1 .left .choose_box .choose:nth-child(2) {
  left: 50px;
}

body #form1 .left .choose_box2 .choose {
  opacity: 0;
  position: relative;
  bottom: -40px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body #form1 .item_2_label {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body #form1 .right .item {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  left: 100px;
}

body #form1 .right .item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

body #form1 .right .item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

body #form1 .right .item_3_label {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  bottom: 50px;
}

body #form1 .down #textarea {
  opacity: 0;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  bottom: -100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1200px) {
  * {
    font-size: 16px;
  }
  .cta span {
    font-size: 28px;
  }
  main video {
    display: none;
  }
  aside p {
    font-size: 14px !important;
  }
}

@media (max-width: 900px) {
  * {
    font-size: 14px;
  }
  .next_btn i,
  .back_btn i {
    font-size: 48px !important;
  }
  .next_btn {
    right: 40px !important;
  }
  .back_btn {
    left: 40px !important;
  }
  .cta span {
    font-size: 26px;
  }
  main video {
    display: none;
  }
  aside p {
    font-size: 12px !important;
  }
  #form1 .item_2 .tmp_box {
    width: 260px !important;
  }
  #form1 .item_2 .tmp_box .radio span {
    width: 50px !important;
  }
  footer .contact {
    width: 55% !important;
  }
  footer .social a {
    height: 43px !important;
  }
}
/*# sourceMappingURL=style.css.map */